<div class="container">
  <app-layout></app-layout>

  <div class="fullWidth">
    <h2>Gestión de Carreras</h2>
    <button mat-flat-button class="add-button" (click)="nuevo()">
      Nueva Carrera
    </button>

    <table mat-table [dataSource]="datos" class="mat-elevation-z8">
      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Profesión Column -->
      <ng-container matColumnDef="modalidad">
        <th mat-header-cell *matHeaderCellDef>Modalidad</th>
        <td mat-cell *matCellDef="let element">
          {{ element.modalidad.nombre }}
        </td>
      </ng-container>

      <!-- Acción Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editar(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminar(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td></ng-container
      >

      <!-- Header Row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data Row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
