<!-- <app-layout></app-layout>

<body>
  <div class="form-container mat-elevation-z2">
    <h2>Docentes</h2>
    <form [formGroup]="formDocente">
      <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>
      </div>
      <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>CI</mat-label>
          <input matInput formControlName="ci" />
        </mat-form-field>
      </div>
      <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Código</mat-label>
          <input matInput type="number" formControlName="codigo" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Profesion</mat-label>
          <input matInput type="text" formControlName="profesion" />
        </mat-form-field>
      </div>
      <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Género</mat-label>
          <mat-select value="" formControlName="genero">
            <mat-option [value]="0">Masculino</mat-option>
            <mat-option [value]="1">Femenino</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-flat-button (click)="guardar()">Guardar</button>
        <button mat-flat-button (click)="volver()">Volver</button>
      </div>
    </form>
  </div>
</body>
-->
<div class="content">
  <app-layout></app-layout>
  <body>
    <div class="wrapper">
      <div class="container">
        <article class="part card-details">
          <h1>Docentes</h1>
          <form [formGroup]="formDocente" autocomplete="off">
            <div class="group-flex">
              <div class="group card-name">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  placeholder="Nombre"
                  matInput
                  formControlName="nombre"
                />
              </div>
              <div class="group card-name">
                <label for="name">CI</label>
                <input
                  type="text"
                  placeholder="ci"
                  matInput
                  formControlName="ci"
                />
              </div>
            </div>

            <div class="group-flex">
              <div class="group card-name">
                <label for="name">Código</label>
                <input
                  placeholder="codigo"
                  matInput
                  type="number"
                  formControlName="codigo"
                />
              </div>
              <div class="group card-name">
                <label for="name">Profesion</label>
                <input
                  type="text"
                  maxlength="20"
                  placeholder="profesion"
                  matInput
                  type="text"
                  formControlName="profesion"
                />
              </div>
            </div>

            <div class="flex">
              <mat-form-field appearance="outline">
                <mat-label style="color: black; font-size: 15px"
                  >Género</mat-label
                >
                <mat-select
                  style="border-bottom: 1px solid #d9d9d9; color: black"
                  value=""
                  formControlName="genero"
                >
                  <mat-option
                    style="color: black; background-color: white"
                    [value]="0"
                    >Masculino</mat-option
                  >
                  <mat-option
                    style="color: black; background-color: white"
                    [value]="1"
                    >Femenino</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>

            <div class="group-flex">
              <div class="group card-name">
                <label for="name">Username</label>
                <input
                  type="text"
                  maxlength="20"
                  placeholder="username"
                  matInput
                  type="text"
                  formControlName="username"
                />
              </div>
            
  
            <div class="group card-name">
              <label for="name">Contraseña</label>
              <input
                type="text"
                maxlength="20"
                
                matInput
                type="password"
                formControlName="password"
              />
            </div>
          </div>
  
          <div class="group card-name">
            <label for="name">Correo</label>
            <input
              type="text"
              maxlength="20"
           
              matInput
              type="text"
              formControlName="email"
            />
          </div>
        
  
        <div class="group card-name">
          <label for="name">Latitud</label>
          <input
            type="text"
            maxlength="20"
            placeholder="profesion"
            matInput
            type="num"
            formControlName="latitud"
          />
        </div>
      
  
      <div class="group card-name">
        <label for="name">Longitud</label>
        <input
          type="text"
          maxlength="20"
          placeholder="profesion"
          matInput
          type="number"
          formControlName="longitud"
        />
      </div>
    

            <div class="grup submit-group">
              <button type="submit" class="submit" (click)="guardar()">
                Guardar
              </button>
              <button type="submit" class="submit" (click)="volver()">
                Volver
              </button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </body>
</div>
