<!-- <app-layout></app-layout>

<body>
  <div class="form-container mat-elevation-z2">
    <h2>Carreras</h2>
    <form [formGroup]="formCarrera">
      <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="nombre" />
        </mat-form-field>
      </div>

      <div class="flex">
        <mat-form-field appearance="outline">
          <mat-label>Modalidad</mat-label>
          <mat-select formControlName="modalidades">
            <mat-option
              *ngFor="let modalidad of modalidades"
              [value]="modalidad.id"
              >{{ modalidad.nombre }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>

      <div class="button-group">
        <button mat-flat-button (click)="guardar()">Guardar</button>
        <button mat-flat-button (click)="volver()">Volver</button>
      </div>
    </form>
  </div>
</body>
 -->
<div class="content">
  <app-layout></app-layout>
  <body>
    <div class="wrapper">
      <div class="container">
        <article class="part card-details">
          <h1>Carreras</h1>
          <form [formGroup]="formCarrera" autocomplete="off">
            <div class="group-flex">
              <div class="group card-name">
                <label for="name">Nombre</label>
                <input
                  type="text"
                  placeholder="Nombre"
                  matInput
                  formControlName="nombre"
                />
              </div>

              <div class="flex">
                <mat-form-field appearance="outline">
                  <mat-label style="color: black; font-size: 15px"
                    >Modalidad</mat-label
                  >
                  <mat-select
                    style="border-bottom: 1px solid #d9d9d9; color: black"
                    formControlName="modalidades"
                  >
                    <mat-option
                      *ngFor="let modalidad of modalidades"
                      [value]="modalidad.id"
                      style="color: black; background-color: white"
                      >{{ modalidad.nombre }}</mat-option
                    >
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

            <div class="grup submit-group">
              <button type="submit" class="submit" (click)="guardar()">
                Guardar
              </button>
              <button type="submit" class="submit" (click)="volver()">
                Volver
              </button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </body>
</div>
